
<h1>Show checkboxes:</h1>


 <%@tasks.each do |task| %>
 
 <%= check_box("tag", task.title, {checked: task.completed})%>
  <%=link_to task.title, controller: "tasks", action: "show", id: task.id%> <br>
 
 <% end %>

<br>
<%=link_to "+ Add new task", new_path%>
